fastapi
uvicorn
langchain==0.3.0
langchain-community==0.3.0
langchain-openai==0.2.0
langchain-core==0.3.0
supabase
python-dotenv
pydantic
pydantic-settings
razorpay
pinecone-client
openai
google-generativeai
python-multipart
httpx
jinja2
